<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		
		.vote_button {
			background-color: green;
			height: 50px;
			width: 400px;
		}
		.gap {
			height: 50px;
		}
	</style>
</head>
<body>
	<h3><a href="/top">Top CHIK</a></h3>
	<div><a href=" {{ dev1_link }} " target="_blank"><img src=" {{ dev1_photo }} "></a><a href="addlike/{{id1}}"><div class="vote_button"></div></a></div>

	<div class="gap"></div>

	<div><a href=" {{ dev2_link }} " target="_blank"><img src=" {{ dev2_photo }} "></a><a href="addlike/{{id2}}"><div class="vote_button"></div></a></div>
</body>
</html>